player-connection-mode=Listen
player-connection-guid=2725204055
player-connection-debug=0
player-connection-project-name=SelfDrivingAI
player-connection-ip=192.168.0.118
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=a385cd1ce092487fa394c393f4424d53
